.link {
    display: inline-block;
    color: black;
    margin-top: 15px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration: underline;
    &:hover {
        color: black;
    }
}